@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: black;
    color: #f24404;
}
#stock-div{
    margin: 2rem;
}
h1{
    margin: 2rem;
}
header{
    width: 100%;
    background-color: rebeccapurple;
    height: 80px;
}
label{
    font-size: larger;
    width: 256px;
}
label p{
    font-size: larger;
    margin: 1rem;
} 
input{
    font-size: 14px;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid #7c3aed;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}
#stock-btn{
    display: block;
    background-color: #09f755;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    margin: 1rem auto;
    font-weight: 400;
}
#stock-btn:hover{
    background-color: #7c3aed;
}
#output{
    font-size: x-large;
    margin: 1rem;
    color: #fff;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
}
footer p{
    font-size: large;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #09f755;
}